body {
  font-family: 'Roboto', sans-serif; }
  body header {
    padding: 0;
    -webkit-box-shadow: 3px 0 5px 3px #9d9d9d;
    box-shadow: 3px 0 5px 3px #9d9d9d;
    position: relative;
    z-index: 1; }
    body header .navbar {
      background-image: linear-gradient(to bottom, #fff 0, #fff 0%);
      box-shadow: none;
      border: none; }
      body header .navbar .container .navbar-header a.navbar-brand {
        padding: 40px 0; }
        @media screen and (max-width: 830px) {
          body header .navbar .container .navbar-header a.navbar-brand {
            padding: 40px 15px; } }
      body header .navbar .container .navbar-header button {
        padding: 40px 15px;
        border: none; }
        body header .navbar .container .navbar-header button .icon-bar {
          width: 30px; }
      body header .navbar .container .navbar-collapse .navbar-nav li {
        font-size: 15px; }
        body header .navbar .container .navbar-collapse .navbar-nav li a {
          padding: 42px 26px;
          transition: 0.2s;
          color: #777777; }
          @media screen and (max-width: 990px) {
            body header .navbar .container .navbar-collapse .navbar-nav li a {
              padding: 42px 13px; } }
          @media screen and (max-width: 768px) {
            body header .navbar .container .navbar-collapse .navbar-nav li a {
              padding: 20px 13px; } }
          body header .navbar .container .navbar-collapse .navbar-nav li a span {
            width: 20px;
            height: 1px;
            background-color: transparent;
            display: inline-block;
            transition: 0.2s;
            position: relative;
            right: 18px;
            top: -5px; }
        body header .navbar .container .navbar-collapse .navbar-nav li a:hover {
          color: #000000; }
          body header .navbar .container .navbar-collapse .navbar-nav li a:hover span {
            background-color: black; }
  body .carousel {
    margin-top: -20px;
    position: relative;
    z-index: 0; }
    body .carousel .carousel-indicators li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      cursor: pointer;
      background-color: #ffffff;
      border: 1px solid #fff;
      border-radius: 10px; }
    body .carousel .carousel-indicators .active {
      background-color: #ffffff;
      border: 3px solid #000000; }
    body .carousel .carousel-inner .item .carousel-caption {
      top: 210px; }
      @media screen and (max-width: 1200px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: 100px; } }
      @media screen and (max-width: 768px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: 50px; } }
      @media screen and (max-width: 600px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: 0; } }
      @media screen and (max-width: 425px) {
        body .carousel .carousel-inner .item .carousel-caption {
          top: -15px; } }
      body .carousel .carousel-inner .item .carousel-caption h2 {
        display: inline-block;
        margin-bottom: 25px;
        padding: 5px 50px;
        font-size: 48px;
        font-weight: 300;
        text-transform: uppercase;
        text-shadow: none;
        background-color: black;
        letter-spacing: 4px; }
        @media screen and (max-width: 1024px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 34px; } }
        @media screen and (max-width: 600px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 24px;
            padding: 5px 20px;
            margin-bottom: 10px; } }
        @media screen and (max-width: 425px) {
          body .carousel .carousel-inner .item .carousel-caption h2 {
            font-size: 14px; } }
      body .carousel .carousel-inner .item .carousel-caption span {
        display: block;
        text-transform: uppercase;
        text-shadow: none;
        color: black;
        letter-spacing: 5px;
        font-weight: 300;
        font-size: 18px; }
        @media screen and (max-width: 600px) {
          body .carousel .carousel-inner .item .carousel-caption span {
            font-size: 10px; } }
    body .carousel .carousel-control {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0) 0%); }
      body .carousel .carousel-control span i {
        border: white solid 1px;
        opacity: 1;
        padding: 12px 18px 12px 16px;
        border-radius: 30px;
        margin-top: 18vw;
        font-size: 26px;
        color: #ffffff;
        text-shadow: none; }
        @media screen and (max-width: 600px) {
          body .carousel .carousel-control span i {
            padding: 6px 8px 6px 8px;
            font-size: 10px; } }
  body section {
    background-color: #fafafa; }
    body section .container {
      padding: 35px 0; }
      body section .container div.menu {
        border-top: solid 1px #e1e1e1;
        border-bottom: solid 1px #e1e1e1;
        width: 90%;
        margin: 0 auto 40px; }
        body section .container div.menu .nav {
          padding: 5px 0; }
          body section .container div.menu .nav li {
            margin: 0; }
            body section .container div.menu .nav li a {
              color: #777777;
              font-weight: 700;
              background-color: transparent;
              text-transform: uppercase; }
            body section .container div.menu .nav li :hover {
              background-color: transparent;
              color: black; }
          body section .container div.menu .nav li.active {
            color: #000;
            background-color: transparent; }
            body section .container div.menu .nav li.active a {
              background-color: transparent;
              color: black; }
          body section .container div.menu .nav li.line {
            font-size: 28px;
            font-weight: 300;
            color: #e1e1e1; }
      body section .container div.margin {
        padding-top: 40px; }
        body section .container div.margin div img {
          margin-bottom: 40px; }
        body section .container div.margin .top-1 {
          margin-top: -70px; }
          @media screen and (max-width: 768px) {
            body section .container div.margin .top-1 {
              margin-top: 0; } }
        body section .container div.margin .top-2 {
          margin-top: -70px; }
          @media screen and (max-width: 768px) {
            body section .container div.margin .top-2 {
              margin-top: 0; } }
        body section .container div.margin .top-3 {
          margin-top: -150px; }
          @media screen and (max-width: 768px) {
            body section .container div.margin .top-3 {
              margin-top: 0; } }
    body section .button {
      padding: 50px 0;
      text-align: center; }
      body section .button a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background-color: #959595;
        padding: 8px 30px;
        border-radius: 5px;
        transition: 0.3s; }
      body section .button a:hover {
        background-color: black; }
  body footer {
    padding: 60px; }
    body footer div {
      text-align: center; }
      body footer div p {
        font-size: 13px;
        color: #9c9c9c; }
        body footer div p span {
          color: #000000; }
      body footer div .icons {
        margin-top: 60px;
        margin-bottom: 60px;
        border-top: solid 1px #e1e1e1;
        border-bottom: solid 1px #e1e1e1;
        padding: 15px; }
        body footer div .icons a {
          color: #959595;
          margin: 0 40px;
          line-height: 40px; }
          @media screen and (max-width: 820px) {
            body footer div .icons a {
              margin: 0 10px; } }

/*# sourceMappingURL=style.css.map */
